{% extends 'base.html' %}

{% block content %}
    <h1>Finalisation de la commande</h1>

    {% if panier %}
        <h2>Résumé de votre panier</h2>
        <ul>
            {% for item in panier %}
                <li>
                    {{ item.produit.nom }} {#  - {{ item.quantite }} x {{ item.prix }}€ = {{ item.total }}€ #}
                </li>
            {% endfor %}
        </ul>

        <h3>Total : {{ total_panier }} €</h3>

        <!-- Formulaire pour finaliser la commande -->
        <form method="POST">
            {% csrf_token %}
            <label for="mode_paiement">Mode de paiement :</label>
            <select id="mode_paiement" name="mode_paiement">
                <option value="carte_credit">Carte de crédit</option>
                <option value="paypal">PayPal</option>
                <option value="virement">Virement bancaire</option>
            </select>
            <button type="submit" class="btn btn-primary">Valider la commande</button>
        </form>

    {% else %}
        <p>Votre panier est vide. Ajoutez des produits avant de passer à la commande.</p>
        <a href="{% url 'produits' %}">Retour aux produits</a>
    {% endif %}
{% endblock %}
